click~=8.1.7
configparser~=5.0.2
numpy~=1.26.4
pandas~=2.2.2
pandas-stubs~=2.2.2
pytest~=7.2.1
python-dateutil~=2.9.0
fastapi==0.115.8
uvicorn[standard]==0.34.0
antares_craft~=0.5.0
dotenv~=0.9.9
python-dotenv~=1.0.1
pyarrow~=20.0.0